@import './scss/all.scss';
.button-custom {
    button {
        height: $height-module;
        padding: 0px 20px;
        background-color: $button-color;
        border-radius: $radius-module;
        font-size: $text-size;
        font-weight: 400;
        color: $while-color;
        border: none;
        &:hover {
            cursor: pointer;
            background-color: $button-hover-color;
        }
    }
}