@mixin primary-text {
    color: $text-color;
    font-size: $text-size;
    font-weight: $text-weight;
}

@mixin bold-text {
    color: #fff;
    font-size: $text-bold-size;
    font-weight: $text-bold-weight;
}