// @import "dashboardItem"
@import '../common/scss/all.scss';
.dashboard {
    width: 100%;;
    background-color: $background-dashboard-color;
    padding: 20px 0px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__main {
        &__title {
            display: flex;
            align-items: center;
            width: 100%;
            height: $height-module;
            margin-left: 27px;
            img {
                width: 30px;
            }
            &__text {
                max-height: 100%;
                display: flex;
                flex-direction: column;
                & span:first-child {
                    font-size: 14px;;
                    color: $while-color;
                    margin-left: 10px;
                }
                & span:last-child {
                    color: $text-active-color;
                    margin-left: 30px;
                    font-size: $text-size;
                    font-weight: $text-weight;
                }
            }
        }
        &__menu {
            margin-top: 30px;
            ul {
                padding: 12px;
                width: 100%;
                li {
                    padding: 15px;
                    border-radius: 10px;
                    @include flex;
                    &:hover {
                        cursor: pointer;
                        background-color: $background-content-color;
                    }
                }
            }
        }
    }
    &__account {
        @include flex-center-reverse;
        border-radius: 20px;
        padding: {
            top: $main-padding;
            bottom: $main-padding;
            left: 6px;
            right: 6px;
        }
        margin: 12px;
        background-color: $background-content-color;
        &__user {
            margin-top: $main-padding;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            overflow: hidden;
            @include flex-center;
            img {
                width: 100%;
                height: 100%;
                margin: 6px 0px;
            }
        }
        p {
            @include text-16;
            margin:  0px;
        }
        span {
            @include primary-text;
            margin-bottom: $main-padding;

        }
        button {
            background-color: $button-color;
            @include text-12;
            border-radius: 10px;
            height: $height-module;
            border: none;
            padding: 0px 10px;
            i {
                color: $while-color;
                margin-right: 10px;
                font-size: 12px;
            }
        }
    }
    
}