// @import "dashboardItem"
.dashboard {
    width: 100%;;
    background-color: $background-dashboard-color;
    height: 400px;
    padding: $main-padding;
    &__title {
        display: flex;
        align-items: center;
       
        width: 100%;
        img {
            width: 40px;

        }
        &__text {
            p {
                margin: 0px;
                font-size: 18px;;
                color: $while-color;
                margin-left: 10px;
            }
            span {
                color: $text-active-color;
                margin-left: 30px;
                font-size: $text-size;
                font-weight: $text-weight;
            }
        }
    }
}