$background-dashboard-color: #151419;
$background-container-color: #1a1c20;
$background-content-color: #23242a;
$background-post-setting-content: #191c24;
$text-color: #bababa;
$text-active-color: #e0ddfa;
$while-color: #fff;
$text-disabled: #32323c;
$text-size: 10px;
$text-12: 12px;
$text-weight: 400;
$text-title-font: 18px;
$text-bold-size: 20px;
$text-bold-weight: 500;
$button-color: #634bff;
$button-hover-color: #7863ff;
$gradient-color: linear-gradient(to right, #42369a 0%, #683881 100%);
$border-radius-block : 10px;
$main-padding: 20px;
$height-module: 34px;
$radius-module: 20px;
$block-border : 1px solid  #3a3939;

