@import './base/function.scss';
@import './base/mixin.scss';
@import './base/variable.scss';

.ant-layout-sider-dark {
  background-color: $background-container-color;
}
.content-text {
  color: #fff;
  font-size: 40px;;
}
.ant-layout-content::-webkit-scrollbar {
  display: none !important;
}